/*Ejercicio #4
Crea un anuncio sobre un producto que te guste. 
Puedes tomar una imagen de referencia de internet, 
agregar textos, títulos y elementos adicionales,
 todos estos encapsulados en las etiquetas correspondientes.*/
 *:not(.carrito-texto) {
    background-color: rgb(0, 0, 0);
 }
 h1{
    text-align: center;
    font-family: Impact;
    font-weight: lighter;
    font-size: 60px;
    color: white;
    background-image: linear-gradient(to right, #ff0000 0%, #ffffff 100%)
 }
 

.container {
    display: flex;
    align-items: center;
  }
  
  .container img {
    display: block;
    max-width: 25%;
    height: auto;
    margin-right: 50px;
    margin-left: 180px;
    margin-top: 40px;
    border-radius:50px;
  }
  
  .container .texto {
    position: absolute;
    top: 200px;
    right:45px;
    padding-left: 70px; /* Espacio entre la imagen y el texto */
    color: white;
    font-size: 38px;
  }
  h2{ position: absolute;
    top: 220px;
    right:34px;
    padding-right: 500px; /* Espacio entre la imagen y el texto */
    color: rgba(255, 255, 255, 0.539);
    font-size: 30px;
    font-weight: lighter;
  }
  .precios .texto{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-decoration: line-through;
    background-color: #808080;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    right:675px;
    padding-right: 10px;
  }
  .precios .texto2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    background-color: #ff0000;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    right:490px;
    padding-right: 10px;

  }
  .imgAbajo img{
    display: block;
    margin-top: 13px;
    max-width: 8%;
    height: auto;
    margin-right: 20px;
    margin-left: 180px;
    border-radius:10px;
  }

.imgAbajo2 img{
  display: block;
  margin-top: -120px;
  max-width: 8%;
  height: auto;
  margin-right: 100px;
  margin-left: 310px;
  border-radius:10px;
  

}
h3{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    position: absolute;
    top: 360px;
    right:640px;
    padding-right: 10px;
    font-family:arial;
}
.sabores .texto1{
    color: rgb(202, 199, 199);
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    top: 430px;
    right:705px;
    padding-right: 10px;
    border: 2px solid rgb(255, 35, 35);
    
}
.sabores .texto2{
    color: rgb(202, 199, 199);
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    top: 430px;
    right:570px;
    padding-right: 10px;
    border: 2px solid rgb(255, 255, 255);
}
.sabores .texto3{
    color: rgb(202, 199, 199);
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    top: 430px;
    right:232px;
    padding-right: 10px;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: line-through;
}
.sabores .texto4{
    color: rgb(202, 199, 199);
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    top: 430px;
    right:420px;
    padding-right: 10px;
    border: 2px solid rgb(255, 255, 255);
}

.carrito {
    display:inline;
    align-items: center;
    background-color: #f69401;
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 500px;
    right: 640px;
  }
  .carrito.clicked {
    background-color: rgb(142, 48, 1); /* Color del botón al hacer clic */
  }
  
  .carrito i {
    margin-right: 10px;
  }
  
  .carrito-texto {
    font-size: 18px;
  }
  footer{
    
    position: absolute;
    color: azure;
 }